about.html.erb

<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>h1>

  <p> 

    Splurty was built by <a target="_blank" href="https://splurty-glendatugan.herokuapp.com/">Glen</a> A web developer in training who wants to help save the world.
  </p>

 <br />

 <p> 
    Glen has spent most of his adult life traveling the world serving underprivelaged and impoverished communities and now has a heart to work on solutions for the growing climate change problem.
  </p>

  <p> 
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="cool-12 col-sm-4">
      <%= image_tag 'me1.JPG', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm1">
      <h2 class="text-center">Glen Datugan</h2>
      <br />
      <p>

        Glen Datugan is a web developer in training, and environmentalist. He has traveled to countries all over the world, assisting refugees, and impoverished communities get the resources and training they need to prosper.

      </p>
    </div>
  </div>



</div>

<br class="clear" />
<br />
<br />
<br />
<br />
<br />
